.weather-container{
    background: black;
    text-align: center;
    color: aliceblue;
}

.weather{
    font-size: 22px;
    margin: 0;

}
.temp{
    font-size: 30px;
    margin: 0px;
    font-weight: bold;
}
